---
import Component from "@components/utils/renderBlock.astro";

const {
  contentSections = [],
  editable = true,
  class: className,
  _component,
  "data-children-prop": childrenDataProp = "contentSections",
  ...htmlAttributes
} = Astro.props;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-prop": childrenDataProp,
    }
  : {};
---

<div class:list={["slide", className]} role="group" {...htmlAttributes}>
  <div class="slide__content" {...arrayDataAttributes}>
    <slot>
      {contentSections && <Component contentSections={contentSections} editable={editable} />}
    </slot>
  </div>
</div>

<style is:global>
  @layer components {
    .slide {
      container-type: inline-size;
      flex-basis: calc(max(var(--slide-width, 100%), var(--min-slide-width, 0px)));
      flex-shrink: 0;

      > .slide__content {
        > *:first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
</style>
