---
import DefinitionListItem from "./DefinitionListItem.astro";

type ItemProps = Record<string, unknown>;

const {
  items,
  alignX = "start",
  class: className,
  "data-children-prop": childrenDataProp = "items",
  editable = false,
  _component,
  ...htmlAttributes
} = Astro.props;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-prop": childrenDataProp,
    }
  : {};
const hasItems = items?.length > 0;
const hasSlotContent = Astro.slots.has("default");

if (!_component && !hasItems && !hasSlotContent) return;
---

<div class:list={["definition-list", `alignment-${alignX}`, className]} {...htmlAttributes}>
  <dl {...arrayDataAttributes}>
    <slot>
      {
        items?.map((item: ItemProps) => (
          <DefinitionListItem
            data-id="building-blocks/core-elements/definition-list/definition-list-item"
            data-editable="array-item"
            editable={editable}
            {...item}
          />
        ))
      }
    </slot>
  </dl>
</div>

<style is:global>
  @layer components {
    .definition-list {
      > dl {
        display: grid;
        gap: var(--spacing-em-sm) var(--spacing-em-md);
        grid-template-columns: auto 1fr;
        margin: 0;
        margin-top: var(--spacing-lg);
      }

      &.alignment-center {
        > dl {
          align-items: center;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
        }

        > dl > .definition-list-item > .title {
          text-align: end;
        }
      }

      &.alignment-end {
        > dl {
          align-items: end;
          grid-template-columns: auto auto;
          justify-content: end;
        }

        > dl > .definition-list-item > .title {
          text-align: start;
        }

        > dl > .definition-list-item > .content {
          text-align: end;
        }
      }

      > dl > .definition-list-item > .content {
        margin: 0;
      }
    }
  }
</style>
