---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  contentSections,
  editable = false,
  class: className,
  _component,
  "data-children-prop": childrenDataProp = "contentSections",
  ...htmlAttributes
} = Astro.props;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-prop": childrenDataProp,
    }
  : {};
---

<div class:list={["grid-item", className]} {...htmlAttributes}>
  <div class="grid-item-content" {...arrayDataAttributes}>
    <slot>
      {contentSections && <RenderBlock contentSections={contentSections} editable={editable} />}
    </slot>
  </div>
</div>

<style is:global>
  @layer components {
    .grid-item {
      container-type: inline-size;
      > .grid-item-content {
        height: 100%;
      }

      > .grid-item-content > *:only-child {
        height: 100%;
      }

      > .grid-item-content > *:first-child {
        margin-top: 0 !important;
      }
    }
  }
</style>
